<div class="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fa-solid fa-hospital"></i>
            </div>
            <div class="sidebar-brand-text mx-3">ASSYIFA<sup>STORE</sup>
            </div>
        </a>
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fa-solid fa-suitcase-medical"></i>
                <span>DASHBOARD</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            INTERFACE
        </div>
        <!--SALE-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSale"
                aria-expanded="true" aria-controls="collapseSale">
                <i class="fa-solid fa-scale-balanced"></i>
                <span>SALE</span>
            </a>
            <div id="collapseSale" class="collapse" aria-labelledby="headingSale" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="">New Sale</a>
                    <a class="collapse-item" href="buttons.html">Sale Management</a>
                    <a class="collapse-item" href="cards.html">POS Sale</a>
                </div>
            </div>
        </li>
        <!--COSTUMER-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCostumer"
                aria-expanded="true" aria-controls="collapseCostumer">
                <i class="fa-solid fa-person-chalkboard"></i>
                <span>COSTUMER</span>
            </a>
            <div id="collapseCostumer" class="collapse" aria-labelledby="headingCostumer"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="utilities-color.html">Add Costumer</a>
                    <a class="collapse-item" href="utilities-border.html">Costumer List</a>
                    <a class="collapse-item" href="utilities-animation.html">Credit Costumer</a>
                    <a class="collapse-item" href="utilities-other.html">Paid Costumer</a>
                    <a class="collapse-item" href="utilities-other.html">Costumer Ledger</a>
                    <a class="collapse-item" href="utilities-other.html">Costumer Advancer</a>
                </div>
            </div>
        </li>
        <!--SUPPLIER-->
        <li class="nav-item" id="developmentprocess">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSupplier"
                aria-expanded="true" aria-controls="collapseSupplier">
                <i class="fa-solid fa-boxes-packing"></i>
                <span>SUPPLIER</span>
            </a>
            <div id="collapseSupplier" class="collapse" aria-labelledby="headingSupplier"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="utilities-color.html">Add Supplier</a>
                    <a class="collapse-item" href="utilities-border.html">Supplier List</a>
                    <a class="collapse-item" href="utilities-other.html">Supplier Ledger</a>
                    <a class="collapse-item" href="utilities-other.html">Supplier Advancer</a>
                </div>
            </div>
        </li>
        <!--PRODUCT-->
        <li class="nav-item" id="developmentprocess">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct"
                aria-expanded="true" aria-controls="collapseProduct">
                <i class="fa-solid fa-pills"></i>
                <span>PRODUCT</span>
            </a>
            <div id="collapseProduct" class="collapse" aria-labelledby="headingProduct" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="utilities-color.html">Add Category</a>
                    <a class="collapse-item" href="utilities-border.html">Category List</a>
                    <a class="collapse-item" href="utilities-other.html">Add Unit</a>
                    <a class="collapse-item" href="utilities-other.html">Unit List</a>
                    <a class="collapse-item" href="utilities-border.html">Add Product</a>
                    <a class="collapse-item" href="utilities-other.html">Add Product(CSV)</a>
                    <a class="collapse-item" href="utilities-other.html">Manage Product</a>
                </div>
            </div>
        </li>
        <!--PURCHASE-->
        <li class="nav-item" id="developmentprocess">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePurchase"
                aria-expanded="true" aria-controls="collapsePurchase">
                <i class="fa-solid fa-cart-arrow-down"></i>
                <span>PURCHASE</span>
            </a>
            <div id="collapsePurchase" class="collapse" aria-labelledby="headingPurchase"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="utilities-color.html">Add Purchase</a>
                    <a class="collapse-item" href="utilities-border.html">Purchase Management</a>
                </div>
            </div>
        </li>
        <!--STOCK-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStock"
                aria-expanded="true" aria-controls="collapseStock">
                <i class="fa-solid fa-list"></i>
                <span>STOCK</span>
            </a>
            <div id="collapseStock" class="collapse" aria-labelledby="headingStock" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="utilities-color.html">Stock Report</a>
                </div>
            </div>
        </li>
        <!--ACCOUNT-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccount"
                aria-expanded="true" aria-controls="collapseAccount">
                <i class="fa-solid fa-money-bill-wave"></i>
                <span>ACCOUNTS</span>
            </a>
            <div id="collapseAccount" class="collapse" aria-labelledby="headingAccount" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="utilities-color.html">Chart of Account</a>
                    <a class="collapse-item" href="utilities-border.html">Opening Balance</a>
                    <a class="collapse-item" href="utilities-other.html">Supplier Payment</a>
                    <a class="collapse-item" href="utilities-other.html">Costumer Receive</a>
                    <a class="collapse-item" href="utilities-border.html">Cash Adjusment</a>
                    <a class="collapse-item" href="utilities-other.html">Debit Voucher</a>
                    <a class="collapse-item" href="utilities-other.html">Credit Voucher</a>
                    <a class="collapse-item" href="utilities-other.html">Contra Voucher</a>
                    <a class="collapse-item" href="utilities-other.html">Journal Voucher</a>
                    <a class="collapse-item" href="utilities-other.html">Contra Voucher</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            USER
        </div>
        <!--REPORT-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport"
                aria-expanded="true" aria-controls="collapseReport">
                <i class="fa-solid fa-money-bill-wave"></i>
                <span>REPORT</span>
            </a>
            <div id="collapseReport" class="collapse" aria-labelledby="headingReport" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="utilities-color.html">Submit Error</a>
                </div>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</div>